td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0px;
}

svg {
    height: 170px;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}

.social {
    height: 90px;
    text-align: center;
}

.fa {
    margin: 20px;
}

.jumbotron{
  position: relative;
    overflow: hidden;
    height: 200px auto;
    background: #000;
    
}

#video-background{ 
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}

.display-3, p {
    z-index: 2;
    position: relative;
    text-align: center;
}

.display-3 {
    font-family: 'Righteous', cursive;
    color: white
}

.lead {
    color: white;
}

.end {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.final-text {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.2em;

}
